@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#epub {
  height: calc(100vh - 8rem);
  overflow: auto;

  p {
    line-height: 1.5;
    margin: 1.2rem 0;
  }
}

.highlight {
  background-color: yellow;
}

main,
header {
  font-size: 1.3rem;
  max-width: 60ch;
  margin: 0 auto;
}

.button {
  @apply bg-gray-200 rounded-sm px-2 hover:shadow;
  &:not(:disabled) {
    @apply cursor-pointer;
  }
  &:disabled {
    @apply opacity-50;
  }
}
