:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#epub {
  height: calc(100vh - 8rem);
  overflow: auto;

  p {
    line-height: 1.5;
  }
}

.highlight {
  background-color: yellow;
}

main,
header {
  max-width: 60ch;
  margin: 0 auto;
}
